form:invalid {
    .alert{
        background: rgb(255, 243, 208);
        margin: 1rem 0rem;
        padding: 0.5rem;
        color: rgb(141, 122, 0);
        border: rgb(141, 122, 0) solid 1px;
        font-size: medium;
    }   
    .btn-alert {
        background: rgb(255, 191, 0);
        margin: 1rem 0rem;
        padding: 0.5rem 2rem;
        color: rgb(0, 0, 0);
        border: rgb(0, 0, 0) solid 1px;
        font-size: medium;
        border-radius: 5px;
    } 
    .alert-text {
        font-size: medium;
    }

}
.alert, .btn-alert, .alert-text {
        background: none;
        margin: 0;
        padding: 0;
        border:none;
        font-size: 0;
}

input:valid, select:valid {
    outline: rgba(18, 92, 0, 0.37) solid 1px;
}


